main {
  /* setting font-size to 0 on the parent of a set of inline block elements removes white space between them.    */
  font-size: 0;
}

.inner-parent {
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

.inner {
  border: 1px solid black;
  display: inline-block;
}

.box_one {
  background-color: green;
  width: 50%;
  height: 200px
}

.box_two {
  background-color:blue; 
  width: 50%;
  height: 200px
  }

.box_three {
  width: 33.33%;
  height: 300px;
  background-color: grey
}

.box_four {
  width: 33.33%;
  height: 300px;
  background-color: black;
  border: 1px solid
}

.box_five {
  width: 33.33%;
  height: 300px;
  background-color: orange;
}


.centered {
  text-align: center;
}